{% extends "base.html" %}

{% load static %}
{% load custom_filters %}
{% load humanize %}

{% block content %}

<style>
.job-card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  display: inline-block;
  /* round corners */
  border-radius: 10px;
}

.job-card-header {
  font-weight: bold;
  text-align: left; /* Add this line to align the header to the left */
  /* align items to bottom */
  vertical-align: bottom;

}


.job-card-details {
  margin-top: 10px;
  text-align: left; /* Add this line to align the header to the left */
}

.sort-filter {
  margin-bottom: 10px;
}

.sort-filter a {
  margin-left: 10px;
  color: blue;
  text-decoration: none;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 10px;
}

.pagination a,
.pagination .current,
.pagination .disabled {
  display: inline-block;
  padding: 4px 3px;
  margin: 0 2px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #000;
  border-radius: 4px;
  font-size: 10px;
}

.pagination a:hover {
  background-color: #ccc;
}

.pagination .current {
  background-color: #007bff;
  color: #fff;
}

.pagination .disabled {
  background-color: #f8f9fa;
  color: #6c757d;
  pointer-events: none;
}

.job-details {
  display: flex;
  justify-content: space-between;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

/* .title-box {
  height: 300px;
  display: table;
} */
.apply-button{

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin:0px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-right:5px;
    margin-bottom:5px;
}

</style>
<center>
    <div style="display: flex; justify-content: space-between; align-items: center; background-color: #fcfcfc; padding: 10px; border-bottom:#0000001a 1px solid;">
        <div style="margin-left: 20px; color: black;">
            
            <a href="/" style="color: black; text-decoration: none;">JOBS</a> {% if request.GET.search %} &gt;{% endif %} {{ request.GET.search }} {% if total_jobs %}({{ total_jobs|intcomma }} results){% endif %}
            <span id="load-time" style="color: rgb(201, 201, 201);"></span>
          </div>

        <div style="margin-right: 20px; display: flex; align-items: center;">
            Sort by:

            <a href="?{% url_toggle_order request 'company' %}">Company</a>
            <a href="?{% url_toggle_order request 'role' %}">Role</a>
            <a href="?{% url_toggle_order request 'salary_min' %}">Min Salary</a>
            <a href="?{% url_toggle_order request 'salary_max' %}">Max Salary</a>
            <a href="?{% url_toggle_order request 'posted_date' %}">Date Posted</a>
            <a href="?{% url_toggle_order request 'created' %}">Date Created</a>
            
        <div style="display: flex; align-items: center; margin-left:20px; margin-right:20px;">
        <input type="checkbox" id="apply_by_email" {% if request.GET.apply_by_email %}checked{% endif %}>
        <label for="apply_by_email">Apply by Email</label>
        </div>

        <script>
            document.getElementById("apply_by_email").addEventListener("click", function() {
                if (this.checked) {
                    var url = "/?{% url_modify request apply_by_email='true' %}";
                    url = url.replace(/&amp;/g, '&'); // replace &amp; with &
                    window.location.href = encodeURI(url);
                } else {
                    window.location.href = "/";
                }
            });
        </script>
        <!-- add icons to view either grid or list here -->
        <a href="?{% url_modify request view=grid %}" style="margin-right:10px;"><i class="fa fa-th-large"></i></a>
        <a href="?{% url_modify request view=list %}"><i class="fa fa-list"></i></a>

        </div>
    </div>



<div class="job-cards">
  {% for job in page_obj %}
  <div class="job-card">
<div class="job-card-header" style="display: flex; align-items: center;">
  {% if job.company.website %}
  <img src="https://www.google.com/s2/favicons?domain={{ job.company.website }}" style="margin-right: 5px;">
  {% endif %}

  <a href="{% url 'company_detail' slug=job.company.slug %}" 
  target="_blank" style="text-decoration: none; font-size:14px;" >{{ job.company.name }}</a>
</div>
    <div class="job-card-details">
      {% if job.role %}
      <div class="title-box" style="height:40px; overflow:hidden;">
      <span style="font-size:14px; ">{{ job.role }}</span>
    </div>
      
      {% else %}
      <form hx-post="{% url 'update_job' job.id %}" hx-trigger="change" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <input type="text" name="role" id="role" value="">
      </form>
      {% endif %}

      <div class="job-details">
        <div class="left-align">
            {% if  job.salary_min and job.salary_max %}
          <span style="font-size:13px; color:rgb(82, 82, 82);">${{ job.salary_min|floatformat:0|intcomma }} - ${{ job.salary_max|floatformat:0|intcomma }}</span>
            {% endif %}
        </div>
        <div class="right-align">
          <span style="font-size:13px; color:rgb(82, 82, 82);">{% if job.posted_date %}{{ job.posted_date|timesince }}{% else %}{{job.created|timesince}}{% endif %} ago</span>
        </div>
      </div>

      <div style="margin-top:10px;">

        {% if job.company.email and job.role %}
                        
<a class="apply-button" href="https://mail.google.com/mail/?view=cm&fs=1&to={{ job.company.email|urlencode }}&su=Application%20for%20{{ job.role|urlencode }}%20at%20{{ job.company|urlencode }}&body=Dear%20{{ job.company|urlencode }},%0A%0AI%20am%20writing%20to%20apply%20for%20the%20{{ job.role|urlencode }}%20role%20at%20{{ job.company|urlencode }}.%20I%20am%20very%20interested%20in%20the%20opportunity%20and%20believe%20that%20my%20skills%20and%20experience%20make%20me%20a%20strong%20candidate.%0A%0APlease%20find%20my%20resume%20attached%20to%20this%20email.%20If%20you%20require%20any%20further%20information%20or%20would%20like%20to%20schedule%20an%20interview,%20please%20let%20me%20know.%0A%0AThank%20you%20for%20your%20time%20and%20consideration.%0A%0ASincerely,%0A%0A{{ request.user.first_name|urlencode }}%20{{ request.user.last_name|urlencode }}" target="_blank" onclick="copyLink(this)">
  Apply
</a>
                        {% endif %}


        <a href="https://mail.google.com/mail/u/0/#search/{{ job.company.name }}" 
        style="text-decoration:none;" target="_blank" target="Searh Your Gmail for {{ job.company.name }}">
          <img src="{% static 'svg/search-mail.svg' %}" alt="email" width="20" height="20">
        </a>
        <a href="https://www.google.com/search?q={{ job.company }} {{job.role}}" target="_blank" target="Searh Google for {{ job.company }} {{job.role}}"
        style="text-decoration:none;"  >
          <img src="{% static 'svg/search-google.svg' %}" alt="email" width="20" height="20">
        </a>
        {% if job.link %}
        {% if job.link_status_code == 200 %}
        <a href="{{ job.link }}" target="_blank" title="Source Link">
          <img src="https://www.google.com/s2/favicons?domain={{ job.link }}"
                        style="height:20px; border: 1px solid #ccc; border-radius: 5px;">
         
                        
        </a>
        
        {% endif %}
        {% endif %}
        {% if request.user.is_superuser %}
        <a href="{% url 'admin:website_job_change' job.id %}">edit</a>
        {% endif %}

          

      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% include "partials/pagination.html" %}
  
</br>
</br>
</br>
</br>

</center>
{% endblock %}