{% extends 'base.html' %}

{% block title %}Profile List{% endblock %}

{% block content %}
{% include 'sidebar.html' %}

<style>




    .profile-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .card-header, .card-footer {
        background-color: #f8f8f8;
        padding: 15px;
        text-align: center;
    }

    .card-body {
        padding: 20px;
        text-align: center;
    }

    .card-header img {
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin-right: 10px;
    }

    .card-footer .schedule-btn {
        background-color: dodgerblue;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .card-footer .schedule-btn:hover {
        background-color: #1c7ecb;
    }

    .create-btn {
        background-color: green;
        border: none;
        color: white;
        padding: 15px 30px;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        border-radius: 5px;
        display: block;
        width: 300px;
        margin: 0 auto 40px auto;
        transition: background-color 0.3s;
    }

    .create-btn:hover {
        background-color: #228b22;
    }

    ul {
        list-style-type: none;

    }

    .card-body h5 {
        margin-top: 20px;
        color: #555;
        font-size: 1.1em;
    }

    .skill-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .skills-horizontal-list {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .skills-horizontal-list li {
        display: inline-block;
    }
</style>

<div style="margin-left:200px;">

    <h1>Discover Our Community</h1>
    <p>Explore profiles, connect with others, and join the excitement! Create your own profile to be a part of this vibrant community.</p>

    <a href="/accounts/profile/" class="create-btn">Create Your Profile</a>

    <div class="profile-cards">
        {% for profile in profiles %}
            <div class="card">
                <a href="/{{ profile.user.username }}" style="font-size: 24px; font-weight: bold;">
                    <div class="card-header">
                        {{ profile.user.first_name }} {{ profile.user.last_name }}
                        <div style="font-size: 14px; margin-top: 5px;">{{ profile.web_views }} View{{ profile.web_views|pluralize }}</div>
                    </div>
                </a>
                <div class="card-body">
                    <p>{{ profile.bio|default:"" }}</p>
                    <h5>Roles:</h5>
                    <ul>
                        {% for role in profile.roles.all %}
                            <li>{{ role.title }}</li>
                        {% endfor %}
                    </ul>
                    <h5>Skills:</h5>
                    <ul>
                        {% for skill in profile.skills.all %}
                            <li><img src="https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/{{ skill.slug }}.png" alt="{{ skill.name }} Icon" class="skill-icon" onerror="this.onerror=null; this.src='/static/img/logo.png'"> {{ skill.name }}</li>
                        {% endfor %}
                    </ul>
                    <h5>Links:</h5>
                    <ul class="skills-horizontal-list">
                        {% for link in profile.links.all %}
                            <li>
                                <a href="{{ link.url }}" target="_blank">
                                    <img src="https://www.google.com/s2/favicons?domain={{ link.url }}" alt="Link Icon">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="/accounts/login/" class="schedule-btn">Schedule Interview</a>
                </div>
            </div>
        {% empty %}
            <p>No profiles available.</p>
        {% endfor %}
    </div>

</div>
{% endblock %}
