{% extends "base.html" %}

{% block content %}
<div class="main-content centered-form">
    <div class="container">
        <form method="post">
            <h2>Login</h2>
            {% csrf_token %}
            {% for field in form %}
                {% if field.widget.input_type != 'checkbox' %}
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                {% endif %}
            {% endfor %}
            <div class="checkbox-container">
                {{ form.remember_me }}
                <label class="checkbox-label" for="{{ form.remember_me.auto_id }}">{{ form.remember_me.label }}</label>
            </div>
            <button type="submit">Login</button>
            <div>
                <p><a href="{% url 'account_signup' %}">Sign up</a></p>
                <p><a href="{% url 'account_reset_password' %}">Forgot password?</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
