{% extends "base.html" %}

{% block content %}
<script src="https://unpkg.com/htmx.org"></script>
<style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .profile, .prompts {
        flex: 1 1 45%;
        max-width: 100%;
    }

    .profile ul, .prompts ul {
        list-style-type: none;
        padding: 0;
    }

    #skills-list {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        margin-top: 10px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .skills-horizontal-list {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    .skill-item {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 20px;
    }

    .skill-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .delete-skill {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
    }

    .skill-item:hover .delete-skill {
        opacity: 1;
    }

    .section {
        margin-bottom: 20px;
    }

    button, a {
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    button:hover, a:hover {
        background-color: #f0f0f0;
        color: #007bff;
    }
</style>

<div class="container">

    <div class="profile">
        <h2>Your Pingojo Profile Page</h2>

        <form method="post">
            {% csrf_token %}
            {{ profile_form.as_p }}
            <input type="hidden" name="profile_form" value="profile_form">
            
            <!-- Display the resume link if the user has a resume_key -->
            {% if user.profile.resume_key %}
            <div>
                <div>Resume Link:</div>
                <a href="{{ request.scheme }}://{{ request.get_host }}/resume/{{ user.profile.resume_key }}/?e=" target="_blank">
                    {{ request.scheme }}://{{ request.get_host }}/resume/{{ user.profile.resume_key }}/?e=
                </a>(email)
            </div>
            {% endif %}
            
            <button type="submit">Save Changes</button>
        </form>

        <p>View: <a href="/{{ user.username }}" target="_blank">pingojo.com/{{ user.username }}</a></p>

        <form method="post">
            <div class="section">
                <h2>Edit Skills</h2>
                <input type="text" name="skill" id="skill-input" placeholder="Type to search skills..."
                    autocomplete="off" hx-get="{% url 'skill_search' %}" hx-swap="outerHTML"
                    hx-trigger="keyup input changed delay:500ms" hx-target="#autocomplete-skills-results"
                    hx-indicator="#loading-skills">
                <div id="autocomplete-skills-results"></div>
                {% include "partials/_skills_list.html" %}
                <div id="loading-skills" style="display: none;">Loading...</div>
            </div>

            <div class="section">
                <h2>Edit Roles</h2>
                <input type="text" name="role" id="role-input" placeholder="Type to search roles..."
                    autocomplete="off" hx-get="{% url 'role_search' %}" hx-swap="outerHTML"
                    hx-trigger="keyup input changed delay:500ms" hx-target="#autocomplete-roles-results"
                    hx-indicator="#loading-roles">
                <div id="autocomplete-roles-results"></div>
                {% include "partials/_roles_list.html" %}
                <div id="loading-roles" style="display: none;">Loading...</div>
            </div>

            <div class="section">
                <h2>Edit Links</h2>
                <input type="hidden" name="add_link" value="add_link">
                {% csrf_token %}
                {{ links_form.as_p }}
                <button type="submit" name="links_form">Update Links</button>
                {% include "partials/_links_list.html" %}
            </div>
        </form>
    </div>

    <div class="prompts">
        <h2>Profile</h2>
        <form method="post">
            {% csrf_token %}
            {{ account_form.as_p }}
            <a href="{% url 'account_change_password' %}">Change Password</a>
            <br>
            <button type="submit" name="account_form">Update Profile</button>
        </form>

        <h2>{% if prompt_form.instance.pk %}Edit Prompt{% else %}Add Prompt{% endif %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ prompt_form.as_p }}
            <button type="submit" name="prompt_form">
                {% if prompt_form.instance.pk %}Update Prompt{% else %}Add Prompt{% endif %}
            </button>
        </form>

        <h2>Your Prompts</h2>
        <ul>
            {% for prompt in prompts %}
            <li>{{ prompt.content }} <a href="{% url 'profile_with_prompt' prompt.id %}">Edit</a></li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}
