{% extends "base.html" %}

{% block content %}
<h1 style="margin-left:20px"> Post a Job {% if not user.is_authenticated %}<a href="/accounts/login/?next=add_job">Login to Auto Fill</a>{% endif %}</h1>



<div style="display: flex; margin:20px;">
    <form method="POST" style="flex: 1;">
        {% csrf_token %}
        <input type="text" name="company" placeholder="Company" required>
        <input type="text" name="website" placeholder="Website" required>

        <input type="text" name="title" placeholder="Job Title" required>
        <input type="text" name="role" placeholder="Role" required>

        <input type="text" name="city" placeholder="City" required>
        <input type="text" name="state" placeholder="State" required>
        <input type="text" name="country" placeholder="Country" required>

        <input type="text" name="posted_date" placeholder="Posted Date" required>

        <button type="submit">Add Job</button>
    </form>

    <div style="flex: 1; margin-left: 20px;">
        <textarea id="description" name="description" rows="10" placeholder="Description"></textarea>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("description") });
</script>
{% endblock %}