{% extends "base.html" %}

{% load static %}

{% block content %}
    <style>
        .form-container {
            width: 80%;
            margin: auto;
        }
        
        .form-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .form-group {
            width: 48%;
            margin-bottom: 1rem;
        }
        
        .form-group.full-width {
            width: 100%;
        }

        .form-group.inline {
            display: inline-block;
            width: 48%;
            margin-right: 2%;
        }

        h1 {
            text-align: center;
        }

        .submit {
            display: block;
            width: 50%;
            padding: 10px 0;
            margin: 1rem auto 2rem;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            text-align: center;
            font-size: 16px;
            border-radius: 5px;
        }

        .submit:hover {
            background-color: #45a049;
        }
    </style>

    <h1>Create Job</h1>
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                {% for field in form %}
                    {% if field.name == "link" %}
                        <div class="form-group full-width">
                            {{ field.label_tag }}<br>{{ field }}
                        </div>
                    {% elif field.name == "salary_min" or field.name == "salary_max" %}
                        <div class="form-group inline">
                            {{ field.label_tag }}<br>{{ field }}
                        </div>
                    {% elif field.name == "equity_min" or field.name == "equity_max" %}
                        <div class="form-group inline">
                            {{ field.label_tag }}<br>{{ field }}
                        </div>
                    {% else %}
                        <div class="form-group">
                            {{ field.label_tag }}<br>{{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button type="submit" class="submit">Create Job</button>
        </form>
    </div>
{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block extra_js %}
    <script>
        jQuery(function() {
            jQuery(".autocomplete").each(function() {
                const field_id = jQuery(this).attr("id");
                const model = field_id.split("-")[0];
                jQuery(this).autocomplete({
                    source: function(request, response) {
                        jQuery.getJSON("/autocomplete/" + model + "/", {
                            term: request.term
                        }, response);
                    },
                    minLength: 2,
                    select: function(event, ui) {
                        jQuery(this).val(ui.item.label);
                        jQuery("#id_" + model).val(ui.item.value);
                        return false;
                    }
                });
            });
        });
    </script>
{% endblock %}
