{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}


{% block content %}


<div class="marquee">
    <ul>
        {% for stage in stages %}
        <li data-stage="{{ stage.name }}">
            <a href="{% url 'dashboard' %}?stage={{ stage.name }}">{{ stage.name }} ({{ stage.count }})</a>
        </li>
    {% endfor %}
    
    </ul>
</div>



<div class="main-content">
    <div style="width:400px">
        <canvas id="chart1" ></canvas>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Job Role</th>
                <th>Date Applied</th>
                <th>Date of Last Email</th>
                <th>Days Ago</th>
                <th>Email Count</th>
                <th>Stage</th>
                <th>View</th>
                <th>buttons</th>
            </tr>
        </thead>
        <tbody>
            {% regroup applications by stage.name as stage_list %}
            {% for stage in stage_list %}
                <tr>
                    <td colspan="8" class="grouper" data-stage="{{ stage.grouper }}"><strong>{{ stage.grouper }}</strong></td>
                </tr>
                {% for application in stage.list %}
                    <tr>
                        <td>{{ application.company.name }}</td>
                        <td>{{ application.job.role }}</td>
                        <td>{{ application.date_applied }}</td>
                        <td>{{ application.date_of_last_email }}</td>
                        <td>{{ application.days_since_last_email}}</td>
                        <td>
                            {{ application.email_set.count }} 
                            <a href="https://mail.google.com/mail/u/0/#search/{{ application.company.name }}" target="_blank">

                           
                            <img src="{% static 'svg/search-mail.svg' %}" alt="email" width="20" height="20">
                        </a>
                        </td>
                        <td>

                            <form method="POST" action="{% url 'update-application-stage' %}" class="stage-form">
                                {% csrf_token %}
                                <input type="hidden" name="application_id" value="{{ application.id }}">


                                <select name="stage_id" class="stage-dropdown stage-dropdown-{{ application.stage.name|lower }}" >
                                    {% for stage in stages %}
                                        <option value="{{ stage.id }}" {% if stage.id == application.stage.id %}selected{% endif %}>
                                            {{ stage.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </td>
                        <td>
                            <a href="{% url 'job_detail' application.job.slug %}">view</a>
                        </td>
                        <td>
                            <a href="https://boards.greenhouse.io/{{application.job.company.slug}}">greenhouse</a> |
                            <a href="https://jobs.lever.co/{{application.job.company.slug}}/">lever</a> |
                            <a href="https://jobs.lever.co/{{application.job.company.slug}}/">delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    
    
</div>
</div>
<hr>
<div class="main-content">
    <!-- Add your drag and drop form here -->
    Drag and drop a job link here or paste the URL to add it and mark it as applied.
    <form id="job-url-form">
        <input type="url" id="job-url" placeholder="job link" />
        <button type="submit">Add Job</button>
    </form>
    <!-- Display the list of applications here -->
</div>
<script>
        var chart1Data = {{ data_chart1|safe }};
    var chart1Ctx = document.getElementById('chart1').getContext('2d');
    var chart1 = new Chart(chart1Ctx, {
      type: 'bar',
      data: chart1Data,
    });
</script>
{% block extra_js %}
  <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% endblock %}