{% extends "base.html" %}
{% load custom_filters %}
{% load static %}
{% load humanize %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block content %}
    {% include 'sidebar.html' %}
    <style>
        .stage-container {
            width: 100% - 150px;
            background-color: white;
            border-bottom: 1px solid rgb(209, 209, 209);
            display: flex;
            justify-content: space-between;
            margin-left: 150px;
        }

        .stage {
            flex-grow: 1;
            padding: 10px 0;
            text-align: center;
            color: white;
            position: relative;
            overflow: hidden;
            font-weight: bold;
        }

        .stage::after {
            content: '';
            position: absolute;
            left: 0px;
            top: 50%;
            border: solid transparent;
            border-width: 20px;
            transform: translateY(-50%);
        }

        .new + .applied::after { border-left-color: white; }
        .applied + .scheduled::after { border-left-color: green; }
        .scheduled + .next::after { border-left-color: dodgerblue; }
        .next + .offer::after { border-left-color: orange; }
        .offer + .passed::after { border-left-color: purple; }

        .new { background-color: white; color:black; }
        .applied { background-color: green; }
        .scheduled { background-color: dodgerblue; }
        .next { background-color: orange; }
        .offer { background-color: purple; }
        .passed { background-color: red; }

        .hover-visible-link {
            display: none;
        }

        .job-card-header:hover .hover-visible-link {
            display: inline;
        }

        .timeline-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        .timeline-button {
            margin-right: 10px;
            padding: 5px 10px;
            font-size: 12px;
            text-align: center;
            background-color: #f8f9fa;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            color: #000;
        }

        .timeline-button:hover {
            background-color: #e2e6ea;
        }

        .timeline-button.active {
            background-color: #007bff;
            color: #fff;
        }
        .resume-view-button {
            padding: 5px 15px;
            font-size: 12px;
            margin-left: 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }

        .resume-view-button:hover {
            background-color: #0056b3;
        }
    </style>
    <div class="stage-container">
        <a href="/dashboard/?stage=Applied"
           class="stage applied"
           style="color:white;
                  text-decoration: none">
            Applied <span class="number">{{ stages.0.count|default:0 }}</span>
        </a>
        <a href="/dashboard/?stage=Scheduled"
           class="stage scheduled"
           style="color:white;
                  text-decoration: none">
            Scheduled <span class="number">{{ stages.1.count|default:0 }}</span>
        </a>
        <a href="/dashboard/?stage=Next"
           class="stage next"
           style="color:black;
                  text-decoration: none">
            Next <span class="number">{{ stages.2.count|default:0 }}</span>
        </a>
        <a href="/dashboard/?stage=Offer"
           class="stage offer"
           style="color:white;
                  text-decoration: none">
            Offer <span class="number">0</span>
        </a>
        <a href="/dashboard/?stage=Passed"
           class="stage passed"
           style="color:white;
                  text-decoration: none">
            Passed <span class="number">{{ stages.3.count|default:0 }}</span>
        </a>
    </div>
    <br>
    <div class="timeline-container">
        {% for day in application_days %}
            <a href="?date={{ day.date|date:'Y-m-d' }}"
               class="timeline-button {% if request.GET.date == day.date|date:'Y-m-d' %}active-day{% endif %}">
                <strong>{{ day.date|date:"m/d" }}</strong>
                <br>
                <span style="font-size: 20px;">{{ day.count }}</span>
                <br>
                <!-- Small text for emails sent and resume views with emojis -->
                <span style="font-size: 12px;">📧 {{ day.emails_sent }} &nbsp; 👁️ {{ day.resume_views }}</span>
            </a>
        {% endfor %}
        <!-- Move the resume views button here -->
        <a href="/dashboard/?view=resume_view" class="resume-view-button">View Resume Views
            <div style="text-align: center; font-size:16px;">{{ resume_views_total_companies }} Companies</div>
        </a>
    </div>
    <style>
      .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 10px;
  }

  .pagination a, .pagination .current, .pagination .disabled {
  display: inline-block;
  padding: 8px 6px; /* Increased padding for larger buttons */
  margin: 0 4px; /* Increased margin for larger buttons */
  border: 1px solid #ccc;
  text-decoration: none;
  color: #000;
  border-radius: 4px;
  font-size: 16px;
}

  .pagination a:hover {
    background-color: #ccc;
  }

  .pagination .current {
    background-color: #007bff;
  }

  .pagination .disabled {
    background-color: #f8f9fa;
    color: #6c757d;
    pointer-events: none;
  }
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  a.visited {
    color: #ccc;
  }
  .active-day {
    background-color: green;
    color: white;
    }
  

    table {
        border-collapse: collapse;
        border: 1px solid #ccc;
    }
    /* make the border go between td also */
    table td, table th {
        border: 1px solid #ccc;
        padding-left: 5px;
        padding-right: 5px;
    }


    .email-hover {
    position: relative; 
    display: inline-block;
  }

  .hover-box {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Optional: Add a shadow for a nice hover effect */
  }



  .email-hover:hover .hover-box {
    display: block;
  }

  .note-icon {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px; /* Add some spacing between the dropdown and the icon */
    }

    .stage-form {
        display: inline-block;
        vertical-align: middle;
    }

    .stage-dropdown {
        display: inline-block;
        width: 100px; /* Adjust the width to make it smaller */
        padding: 5px;
        margin: 0;
        font-size: 14px;
        border-radius: 4px;
        vertical-align: middle;
    }

    .note-icon-bordered {
        border: 2px solid currentColor; /* Only apply border when there is a note */
    }

    .note-icon:hover::after {
        content: attr(title);
        position: absolute;
        bottom: 125%; /* Position above the icon */
        left: 50%;
        transform: translateX(-50%);
        background-color: #f8f9fa;
        color: #000;
        padding: 5px;
        border-radius: 5px;
        white-space: nowrap;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-size: 12px;
        max-width: 250px;
        text-align: center;
    }

    .note-icon:hover::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #f8f9fa transparent;
        z-index: 1;
    }

    .main-content {
        margin-left: 180px; /* Make room for the sidebar */
    }

    </style>
    <div class="main-content">
        {% if applications %}
            <table>
                <thead>
                    <tr align="left">
                        <th>
                            <a href="?stage={{ stage }}&sort_by=company{% if sort_by == 'company' and sort_order == 'asc' %}&sort_order=desc{% else %}&sort_order=asc{% endif %}">Company</a>
                        </th>
                        <th>
                            <a href="?stage={{ stage }}&sort_by=role{% if sort_by == 'role' and sort_order == 'asc' %}&sort_order=desc{% else %}&sort_order=asc{% endif %}">Role</a>
                        </th>
                        <th>
                            <a href="?stage={{ stage }}&sort_by=salary{% if sort_by == 'salary' and sort_order == 'asc' %}&sort_order=desc{% else %}&sort_order=asc{% endif %}">Salary</a>
                        </th>
                        <th>
                            <a href="?stage={{ stage }}&sort_by=applied{% if sort_by == 'applied' and sort_order == 'asc' %}&sort_order=desc{% else %}&sort_order=asc{% endif %}">Applied</a>
                        </th>
                        <th>
                            <a href="?stage={{ stage }}&sort_by=last_email{% if sort_by == 'last_email' and sort_order == 'asc' %}&sort_order=desc{% else %}&sort_order=asc{% endif %}">Last Email</a>
                        </th>
                        <th>
                            <a href="?stage={{ stage }}&sort_by=days{% if sort_by == 'days' and sort_order == 'asc' %}&sort_order=desc{% else %}&sort_order=asc{% endif %}">Days</a>
                        </th>
                        <th>
                            <a href="?stage={{ stage }}&sort_by=email{% if sort_by == 'email' and sort_order == 'asc' %}&sort_order=desc{% else %}&sort_order=asc{% endif %}">Email</a>
                        </th>
                        <th>Stage</th>
                        <th>CV Views</th>
                        <th>actions</th>
                        <th>link</th>
                        <th>email</th>
                        <th>?</th>
                        <td>ping</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="13" class="grouper" data-stage="{{ stage }}">
                            <strong>{{ stage }}</strong>
                        </td>
                    </tr>
                    {% for application in applications %}
                        <tr id="row-{{ application.id }}">
                            <td>
                                {% if application.company.website %}
                                    <img src="https://www.google.com/s2/favicons?domain={{ application.company.website }}"
                                         alt="{{ application.company.name }} Logo"
                                         height="15px;"
                                         width="15px">
                                {% endif %}
                                <a href="{% url 'company_detail' slug=application.company.slug %}">{{ application.company.name }}</a>
                                {% if application.company.website %}
                                    <a href="{{ application.company.website }}" target="_blank">
                                        <i class="fas fa-external-link-alt" style="font-size:15px;"></i>
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if application.job.role %}
                                    <a href="{% url 'job_detail' slug=application.job.slug %}">{{ application.job.role|truncatechars:50 }}</a>
                                {% else %}
                                    <form hx-post="{% url 'update_email' %}"
                                          hx-trigger="change"
                                          hx-target="this"
                                          id="role-form-{{ application.id }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="application_id" value="{{ application.id }}" />
                                        <input type="text"
                                               name="role"
                                               id="role"
                                               class="link-input"
                                               placeholder="role"
                                               style="height: 20px;
                                                      width: 120px;
                                                      display: inline-block;
                                                      vertical-align: middle;
                                                      margin:0px" />
                                    </form>
                                {% endif %}
                            </td>
                            <td nowrap>
                                {% if application.job.salary_min %}
                                    ${{ application.job.salary_min|floatformat:0|intcomma }} - ${{ application.job.salary_max|floatformat:0|intcomma }}
                                {% endif %}
                            </td>
                            <td>{{ application.date_applied|date:"m/d/Y" }}</td>
                            <td>{{ application.date_of_last_email|date:"m/d/Y" }}</td>
                            <td>{{ application.days_since_last_email }}</td>
                            <td valign="top" align="right">
                                <span style="padding-bottom: 3px;
                                             margin-left: 5px;
                                             display: inline-block;
                                             vertical-align: middle">
                                    {% for email in application.email_set.all %}
                                        <a href="https://mail.google.com/mail/u/0/#inbox/{{ email }}"
                                           target="_blank"
                                           title="{{ email.date|date:'m/d/y' }}">{{ forloop.counter }}</a>
                                    {% empty %}
                                        0
                                    {% endfor %}
                                </span>
                                <div class="email-hover"
                                     style="display: inline-block;
                                            vertical-align: middle">
                                    <a href='https://mail.google.com/mail/u/0/#search/"{{ application.company.name }}"'
                                       target="_blank"
                                       style="margin:0px;
                                              padding:0px"
                                       title="Search Gmail for '{{ application.company.name }}'">
                                        <img src="{% static 'svg/search-mail.svg' %}"
                                             alt="email"
                                             width="20"
                                             height="20">
                                    </a>
                                </div>
                            </td>
                            <td nowrap>
                                <form method="POST"
                                      hx-post="{% url 'update-application-stage' %}"
                                      hx-trigger="change"
                                      hx-get="{% url 'update-application-stage' %}?application_id={{ application.id }}"
                                      hx-delete="#row-{{ application.id }}"
                                      class="stage-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="application_id" value="{{ application.id }}">
                                    <select name="stage_id"
                                            class="stage-dropdown stage-dropdown-{{ application.stage.name|lower }}">
                                        {% for stage in stages %}
                                            <option value="{{ stage.id }}"
                                                    {% if stage.id == application.stage.id %}selected{% endif %}>
                                                {{ stage.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </form>
                                {% if application.note %}
                                    <span class="note-icon note-icon-bordered"
                                          title="{{ application.note }}"
                                          hx-get="{% url 'edit_note' application.id %}"
                                          hx-target="#note-form-container-{{ application.id }}"
                                          hx-swap="outerHTML">📝</span>
                                {% else %}
                                    <span class="note-icon"
                                          title="No Note"
                                          hx-get="{% url 'edit_note' application.id %}"
                                          hx-target="#note-form-container-{{ application.id }}"
                                          hx-swap="outerHTML">📝</span>
                                {% endif %}
                                <div id="note-form-container-{{ application.id }}"></div>
                            </td>
                            <td>
                                <a href="{% url 'view_resume_clicks' application.company.id %}">{{ application.resume_views }}</a>
                            </td>
                            <td>
                                {% if application.job.slug %}
                                    <a href="{% url 'job_detail' application.job.slug %}">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                {% endif %}
                                <a href="{% url 'job_application_delete' application.id %}"
                                   hx-post="{% url 'job_application_delete' application.id %}"
                                   hx-swap="none"
                                   hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                   hx-confirm="Are you sure you want to delete this application?">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                            <td nowrap>{% include 'partials/link.html' %}</td>
                            <td>{% include 'partials/email.html' %}</td>
                            <td>
                                {% if not application.resume_views %}
                                    {% if application.company.email %}
                                        <a href="#"
                                           hx-post="/api/bounced_email/"
                                           hx-trigger="click"
                                           hx-target="this"
                                           hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                           onclick="handleBounceReport(this, event, '{{ application.company.email }}')"
                                           title="Report Email Bounce">🚫</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            {% if application.company.email and application.job.role %}
                                <td nowrap>{% include "partials/ping_link.html" %}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div>
                Add your applications from Gmail using the extension to fill in the Company, Role and Email and they will show here.
            </div>
        {% endif %}
        {% if page_obj.paginator.page_range|length > 1 %}
            <center>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?stage={{ stage }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}{% if request.GET.sort_order %}&sort_order={{ request.GET.sort_order }}{% endif %}&page=1">&laquo; first</a>
                            <a href="?stage={{ stage }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}{% if request.GET.sort_order %}&sort_order={{ request.GET.sort_order }}{% endif %}&page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <span class="current">{{ i }}</span>
                            {% else %}
                                <a href="?page={{ i }}&stage={{ stage }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}{% if request.GET.sort_order %}&sort_order={{ request.GET.sort_order }}{% endif %}">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="?stage={{ stage }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}{% if request.GET.sort_order %}&sort_order={{ request.GET.sort_order }}{% endif %}&page={{ page_obj.next_page_number }}">next</a>
                            <a href="?stage={{ stage }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}{% if request.GET.sort_order %}&sort_order={{ request.GET.sort_order }}{% endif %}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% if data_chart1 %}
                    <div style="width:600px;">
                        <canvas id="chart1"></canvas>
                    </div>
                {% endif %}
            </center>
        {% endif %}
    </div>
</br>
</br>
</br>
</br>
</br>
<script>

document.addEventListener("htmx:configRequest", (event) => {
    const token = "{{ csrf_token }}";  // Ensures the token is available in the template
    event.detail.headers['X-CSRFToken'] = token;
  });
  
function handleBounceReport(element, event, email) {
    console.log("Email:", email);  // Debugging: check if email is defined

    // Show a prompt to the user to enter the reason
    let reason = prompt('Please provide a reason for reporting this email as bounced:');
    console.log("Reason:", reason);  // Debugging: check if reason is defined

    // Trim and validate email and reason
    if (email && email.trim() !== "" && reason && reason.trim() !== "") {
        // Encode email and reason to avoid any issues with special characters
        const encodedEmail = email.trim();
        const encodedReason = reason.trim();

        // Update hx-vals attribute with the correct reason
        element.setAttribute('hx-vals', JSON.stringify({ email: encodedEmail, reason: encodedReason }));
    } else {
        alert("Email or reason is undefined or empty."); // Provide feedback if undefined
        event.preventDefault(); // Prevents the form from submitting if no reason is provided
    }
}
    
function copyLink(icon) {
            icon.style.color = "yellow";
}

function updateForm(email, applicationId) {
    var formId = 'email-form-' + applicationId;
    var form = document.getElementById(formId);
    var emailInput = form.querySelector('input[name="email"]');
    email = email.replace(/<|>/g, '');
    emailInput.value = email;
    var event = new Event('change');
    form.dispatchEvent(event);
}



document.body.addEventListener('htmx:afterSwap', function(event) {        
    let response;

    try {
        response = JSON.parse(event.detail.xhr.responseText);
    } catch (error) {
        console.error('Failed to parse JSON response:', error);
        return;
    }
    
    if(response.status === "success") {
        let rowId = "row-" + response.application_id;
        let rowElement = document.getElementById(rowId);
        if(rowElement) {
            rowElement.remove();
        }
    } else {
        console.error('HTMX request failed:', response);
    }
});
    {% if data_chart1 %}
    var chart1Data = {{ data_chart1|safe }};
    var chart1Ctx = document.getElementById('chart1').getContext('2d');
    var chart1 = new Chart(chart1Ctx, {
      type: 'bar',
      data: chart1Data,
    });
    {% endif %}
</script>
{% block extra_js %}
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
{% endblock %}
