{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const marqueeList = document.querySelector(".marquee ul");
      marqueeList.style.setProperty("--startPosition", "0");
      marqueeList.style.setProperty("--endPosition", `calc(-1 * ${marqueeList.scrollWidth}px)`);
  
      // Optional: Adjust animation duration based on content width
      const animationDuration = Math.max(10, marqueeList.scrollWidth / 50); // 50 pixels per second
      marqueeList.style.animationDuration = `${animationDuration}s`;
    });
  </script>
<div class="marquee">
    <ul>
      {% for company in companies %}
        <li style="display: inline;">
          <a href="{% url 'company_detail' slug=company.slug %}">Jobs at {{ company.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
    <section class="main-content">
        <div class="job-stats">
            <div class="stat">
                <strong>10,000+</strong> Jobs
            </div>
            <div class="stat">
                <strong>{{company_count|intcomma}}+</strong> Companies
            </div>
            <div class="stat">
                <strong>50,000+</strong> Applications
            </div>
            <div class="stat">
                <strong>5,000+</strong> Users
            </div>
            <div class="stat">
                <strong>2,000+</strong> Hires
            </div>
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}" class="signup">Dashboard</a>

        {% else %}
        <a href="/accounts/signup/" class="signup">Sign up now!</a>
        {% endif %}
    
        <div class="upload-resume">
            <input type="file" id="resume" accept=".pdf,.doc,.docx" />
            <label for="resume">Upload your resume to see matched jobs</label>
        </div>
    
        <div class="benefits">
            <div class="benefit">
                <i class="fas fa-users-cog"></i>
                <h3>Simplified Recruitment</h3>
                <p>Streamline the recruitment process for job seekers, companies, and recruiters with seamless collaboration.</p>
            </div>
            <div class="benefit">
                <i class="fas fa-brain"></i>
                <h3>Personalized Job Matching</h3>
                <p>Find the perfect job or candidate with advanced AI technology that matches users based on skills, experience, and preferences.</p>
            </div>
            <div class="benefit">
                <i class="fas fa-comments"></i>
                <h3>Efficient Communication</h3>
                <p>Stay updated with real-time notifications and well-designed dashboards, ensuring a smooth hiring process for all parties.</p>
            </div>
            <div class="benefit">
                <i class="fas fa-lightbulb"></i>
                <h3>Empowerment Through Flexibility</h3>
                <p>Become a recruiter with Pingojo, providing flexible income opportunities and expanding the pool of potential candidates.</p>
            </div>
            <div class="benefit">
                <i class="fas fa-shield-alt"></i>
                <h3>Privacy Protection</h3>
                <p>Rest assured that your data and contact information are protected throughout the recruitment process.</p>
            </div>
            <div class="benefit">
                <i class="fas fa-globe"></i>
                <h3>Wide Network</h3>
                <p>Access a vast network of recruiters and companies, increasing the chances of finding the perfect job or candidate.</p>
            </div>
        </div>
    </section>

{% endblock %}