{% extends 'base.html' %}
{% load humanize %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}
{% block content %}


<div class="marquee">
    <ul>
        {% for company in companies %}
        {% if company.slug %}
        <li style="display: inline;">
            <a href="{% url 'company_detail' slug=company.slug %}">Jobs at {{ company.name }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<section class="main-content">
    <div class="job-stats">

        
            <div class="stat" id="stat">
                <a href="https://github.com/pingojo/extension" target="_blank" id="chrome_extension_button"> 
                <strong>Install the Chrome Extension</strong>
                </a>
            </div>
        

        <a href="{% url 'jobs_list' %}">
            <div class="stat">
                <strong>{{job_count|intcomma}}+</strong> Jobs
            </div>
        </a>
        <a href="{% url 'company_list' %}">
            <div class="stat">
                <strong>{{company_count|intcomma}}+</strong> Companies
            </div>
        </a>
        <!-- <div class="stat">
                <strong>50,000+</strong> Applications
            </div>
            <div class="stat">
                <strong>5,000+</strong> Users
            </div>
            <div class="stat">
                <strong>2,000+</strong> Hires
            </div> -->
    
        <a href="{% url 'source-list' %}">
            <div class="stat">
                <strong>{{sources_count|intcomma}}+</strong> Sources
            </div>
        </a>
    </div>
</section>


<section class="features">
    <div class="benefits">
        <div class="benefit">
            <i class="fas fa-users-cog"></i>
            <h3>Simplified Recruitment</h3>
            <p>Streamline the recruitment process for job seekers, companies, and recruiters with seamless
                collaboration.</p>
        </div>
        <div class="benefit">
            <i class="fas fa-brain"></i>
            <h3>Personalized Job Matching</h3>
            <p>Find the perfect job or candidate with advanced AI technology that matches users based on skills,
                experience, and preferences.</p>
        </div>
        <div class="benefit">
            <i class="fas fa-comments"></i>
            <h3>Efficient Communication</h3>
            <p>Stay updated with real-time notifications and well-designed dashboards, ensuring a smooth hiring process
                for all parties.</p>
        </div>
        <div class="benefit">
            <i class="fas fa-lightbulb"></i>
            <h3>Empowerment Through Flexibility</h3>
            <p>Become a recruiter with Pingojo, providing flexible income opportunities and expanding the pool of
                potential candidates.</p>
        </div>
        <div class="benefit">
            <i class="fas fa-shield-alt"></i>
            <h3>Privacy Protection</h3>
            <p>Rest assured that your data and contact information are protected throughout the recruitment process.</p>
        </div>
        <div class="benefit">
            <i class="fas fa-globe"></i>
            <h3>Wide Network</h3>
            <p>Access a vast network of recruiters and companies, increasing the chances of finding the perfect job or
                candidate.</p>
        </div>
    </div>
    <div class="leaderboard">
        <h3>Application Leaderboard</h3>
        <table class="table-style">
            <thead>
                <tr>
                    <th>#</th>
                    <th>24hr</th>
                    <th>total</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_applications %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ user.applications_last_24hr|intcomma }}</td>
                    <td>{{ user.total_applications|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</section>
{% endblock %}