{% extends "base.html" %}

{% block content %}
  
<h1 style="margin-left:20px">Post a Job {% if not user.is_authenticated %}<a href="/accounts/login/?next=add_job">Login to Auto Fill</a>{% endif %}</h1>

<style>
    .flex-container {
        display: flex;
        gap: 20px;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .flex-right-column {
        flex: 1;
        margin-left: 20px;
    }

    .flex-container > input, .flex-container > select, .flex-column > input {
        padding: 8px;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        color: #333;
        background-color: white;
    }

    /* Solid background for inputs when pre-filled */
    .flex-container > input.filled, .flex-column > input.filled {
        background-color: #f0f0f0;
    }

    .error-message {
        color: red;
        font-size: 0.9em;
    }

    /* Add a red outline for fields with errors */
    .error-field {
        border-color: red;
        outline: 2px solid red;
    }

    textarea {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
</style>

<div style="display: flex; margin:20px;">
    <form method="POST" style="display: flex; width: 100%;">
        {% csrf_token %}
        <div class="flex-column">
            <!-- Display non-field errors -->
            {% if form.non_field_errors %}
                <div class="error-message">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            
            <div class="flex-container">
                <input type="text" name="company" id="company-autocomplete" placeholder="Company Name" 
                    value="{{ form.company.value|default:'' }}" 
                    class="autocomplete {% if form.company.errors %}error-field{% elif form.company.value %}filled{% endif %}">
                <input type="text" name="website" placeholder="Website"
                    value="{{ form.website.value|default:'' }}" 
                    class="{% if form.website.errors %}error-field{% elif form.website.value %}filled{% endif %}">
            </div>
            <div class="error-message">{{ form.company.errors }}</div>
            <div class="error-message">{{ form.website.errors }}</div>

            <input type="text" name="role" id="role-autocomplete" placeholder="Role"
                value="{{ form.role.value|default:'' }}"
                class="autocomplete {% if form.role.errors %}error-field{% elif form.role.value %}filled{% endif %}">
            <div class="error-message">{{ form.role.errors }}</div>

            <div class="flex-container">
                <input type="text" name="link" placeholder="Job link"
                    value="{{ form.link.value|default:'' }}"
                    class="{% if form.link.errors %}error-field{% elif form.link.value %}filled{% endif %}">
                <input type="text" name="email" placeholder="Company Email"
                    value="{{ form.email.value|default:'' }}"
                    class="{% if form.email.errors %}error-field{% elif form.email.value %}filled{% endif %}">
            </div>
            <div class="error-message">{{ form.link.errors }}</div>
            <div class="error-message">{{ form.email.errors }}</div>

            <div class="flex-container">
                <input type="text" name="salary_min" placeholder="Salary Min"
                    value="{{ form.salary_min.value|default:'' }}"
                    class="{% if form.salary_min.errors %}error-field{% elif form.salary_min.value %}filled{% endif %}">
                <input type="text" name="salary_max" placeholder="Salary Max"
                    value="{{ form.salary_max.value|default:'' }}"
                    class="{% if form.salary_max.errors %}error-field{% elif form.salary_max.value %}filled{% endif %}">
            </div>
            <div class="error-message">{{ form.salary_min.errors }}</div>
            <div class="error-message">{{ form.salary_max.errors }}</div>

            <div class="flex-container">
                <select name="job_type" id="job_type" class="{% if form.job_type.errors %}error-field{% endif %}">
                    <option value="Full-Time" {% if form.job_type.value == "Full-Time" %}selected{% endif %}>Full-Time</option>
                    <option value="Part-Time" {% if form.job_type.value == "Part-Time" %}selected{% endif %}>Part-Time</option>
                    <option value="Internship" {% if form.job_type.value == "Internship" %}selected{% endif %}>Internship</option>
                    <option value="Contractor" {% if form.job_type.value == "Contractor" %}selected{% endif %}>Contractor</option>
                </select>
                <select class="form__select" name="remote" id="remote" class="{% if form.remote.errors %}error-field{% endif %}">
                    <option value="True" {% if form.remote.value == "True" %}selected{% endif %}>Remote OK</option>
                    <option value="False" {% if form.remote.value == "False" %}selected{% endif %}>On-Site Only</option>
                </select>
            </div>
            <div class="error-message">{{ form.job_type.errors }}</div>
            <div class="error-message">{{ form.remote.errors }}</div>

            <div class="flex-container">
                <input type="text" name="city" placeholder="City" required
                    value="{{ form.city.value|default:'' }}"
                    class="{% if form.city.errors %}error-field{% elif form.city.value %}filled{% endif %}">
                <input type="text" name="state" placeholder="State" required
                    value="{{ form.state.value|default:'' }}"
                    class="{% if form.state.errors %}error-field{% elif form.state.value %}filled{% endif %}">
                <input type="text" name="country" placeholder="Country" required
                    value="{{ form.country.value|default:'' }}"
                    class="{% if form.country.errors %}error-field{% elif form.country.value %}filled{% endif %}">
            </div>
            <div class="error-message">{{ form.city.errors }}</div>
            <div class="error-message">{{ form.state.errors }}</div>
            <div class="error-message">{{ form.country.errors }}</div>
            <button type="submit">Post this Job</button>
        </div>

        <!-- Description column -->
        <div class="flex-right-column">
            <textarea id="description_markdown" name="description_markdown" rows="15" placeholder="Description">{{ form.description_markdown.value|default:'' }}</textarea>
        </div>
        
    </form>
</div>

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("description_markdown") });
</script>

{% endblock %}

{% block extra_js %}
    <script>
        jQuery(function() {
            jQuery(".autocomplete").each(function() {
                const field_id = jQuery(this).attr("id");
                const model = field_id.split("-")[0];
                jQuery(this).autocomplete({
                    source: function(request, response) {
                        jQuery.getJSON("/autocomplete/" + model + "/", {
                            term: request.term
                        }, response);
                    },
                    minLength: 2,
                    select: function(event, ui) {
                        jQuery(this).val(ui.item.label);
                        jQuery("#id_" + model).val(ui.item.value);
                        return false;
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}
