{% extends "base.html" %}

{% load static %}

{% block content %}
<style>


table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 20px;
    margin-right: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    cursor: pointer;
}

.content {
    margin: 0 20px;
}

</style>
    <h1>Job Sites</h1>
    <table id="jobSitesTable">
        <thead>
            <tr>
                <th data-sort="name">Name</th>
                <th data-sort="focus">Focus</th>
                <th data-sort="job_count">Job Count</th>
            </tr>
        </thead>
        <tbody>
            {% for source in sources %}
            <tr>
                <td><a href="{{ source.website }}" target="_blank">{{ source.name }}</a></td>
                <td>{{ source.focus }}</td>
                <td>{{ source.job_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    <script src="{% static 'js/sortTable.js' %}"></script>
{% endblock %}
