{% extends "base.html" %}

{% block content %}
  
<h1 style="margin-left:20px"> Post a Job {% if not user.is_authenticated %}<a href="/accounts/login/?next=add_job">Login to Auto Fill</a>{% endif %}</h1>

<style>
    .flex-container {
        display: flex;
        gap: 20px;
    }

    .flex-container > input, .flex-container > select {
        flex: 1;
        padding: 8px;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        color: #777;
        background-color:white;
    }

    .error-message {
        color: red;
        font-size: 0.9em;
    }
</style>

<div style="display: flex; margin:20px;">
    <form method="POST" style="flex: 1;">
        {% csrf_token %}

        <!-- Display non-field errors -->
        {% if form.non_field_errors %}
            <div class="error-message">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="flex-container">
            <input type="text" name="company" id="company-autocomplete" placeholder="Company Name" required="" class="autocomplete">
            <input type="text" name="website" placeholder="Website https://website..." required>
        </div>
        <!-- Display field-specific errors -->
        <div class="error-message">{{ form.company.errors }}</div>
        <div class="error-message">{{ form.website.errors }}</div>

        <input type="text" name="role" id="role-autocomplete" placeholder="Role e.g. 'Chief Technology Officer' " required="" class="autocomplete">
        <div class="error-message">{{ form.role.errors }}</div>

        <div class="flex-container">
            <input type="text" name="link" placeholder="Application URL https://greenhouse.io... ">
            <input type="text" name="email" placeholder="Careers Email info@example.com">
        </div>
        <div class="error-message">{{ form.link.errors }}</div>
        <div class="error-message">{{ form.email.errors }}</div>

        <div class="flex-container">
            <input type="text" name="salary_min" placeholder="Salary Min $150,000">
            <input type="text" name="salary_max" placeholder="Salary Max $250,000">
        </div>
        <div class="error-message">{{ form.salary_min.errors }}</div>
        <div class="error-message">{{ form.salary_max.errors }}</div>

        <div class="flex-container">
            <select name="job_type" id="job_type">
                <option selected="selected" value="Full-Time">Full-Time</option>
                <option value="Part-Time">Part-Time</option>
                <option value="Internship">Internship</option>
                <option value="Contractor">Contractor</option>
            </select>
            <select class="form__select" name="remote" id="remote">
                <option value="true">Remote OK</option>
                <option value="false">On-Site Only</option>
            </select>
        </div>
        <div class="error-message">{{ form.job_type.errors }}</div>
        <div class="error-message">{{ form.remote.errors }}</div>

        <div class="flex-container">
            <input type="text" name="city" placeholder="City" required>
            <input type="text" name="state" placeholder="State" required>
            <input type="text" name="country" placeholder="Country" required>
        </div>
        <div class="error-message">{{ form.city.errors }}</div>
        <div class="error-message">{{ form.state.errors }}</div>
        <div class="error-message">{{ form.country.errors }}</div>

        <button type="submit">Post job for Free</button>
    </form>

    <div style="flex: 1; margin-left: 20px;">
        <textarea id="description_markdown" name="description_markdown" rows="10" placeholder="Description"></textarea>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("description_markdown") });
</script>

{% endblock %}

{% block extra_js %}
    <script>
        jQuery(function() {
            jQuery(".autocomplete").each(function() {
                const field_id = jQuery(this).attr("id");
                const model = field_id.split("-")[0];
                jQuery(this).autocomplete({
                    source: function(request, response) {
                        jQuery.getJSON("/autocomplete/" + model + "/", {
                            term: request.term
                        }, response);
                    },
                    minLength: 2,
                    select: function(event, ui) {
                        jQuery(this).val(ui.item.label);
                        jQuery("#id_" + model).val(ui.item.value);
                        return false;
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}
