{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% block content %}
<script src="https://unpkg.com/htmx.org@1.6.1"></script>

<style>

#job-list-table {
    width: 100%;
    border-collapse: collapse;
}

#job-list-table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}

a {
    color: blue;
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 10px;
  }

  .pagination a, .pagination .current, .pagination .disabled {
    display: inline-block;
    padding: 4px 3px; /* Updated padding for smaller buttons */
    margin: 0 2px; /* Updated margin for smaller buttons */
    border: 1px solid #ccc;
    text-decoration: none;
    color: #000;
    border-radius: 4px;
    font-size: 10px; /* Updated font size for smaller buttons */
  }

  .pagination a:hover {
    background-color: #ccc;
  }

  .pagination .current {
    background-color: #007bff;
    color: #fff;
  }

  .pagination .disabled {
    background-color: #f8f9fa;
    color: #6c757d;
    pointer-events: none;
  }
</style>

<h1>Job Listings</h1>
<table id="job-list-table">
  <thead>
    <tr>
      <th><a href="?ordering=company">Company</a></th>
      <th><a href="?ordering=role">Role</a></th>
      
      
      <th><a href="?ordering=salary_min">Min Salary</a></th>
      <th><a href="?ordering=salary_max">Max Salary</a></th>
      <th><a href="?ordering=posted_date">Posted</a></th>
      <th><a href="?ordering=created">Created</a></th>
      <th>Link</th>
      <th>Status Code</th>
      <th>Search</th>
    </tr>
  </thead>
  <tbody>
      {% for job in page_obj %}
      <tr>
          <td><a href="{% url 'company_detail' slug=company.slug %}" target="_blank">{{ job.company.name }}</a></td>
          <td>
            {% if job.role %}
            {{ job.role }}
            {% else %}
            <form hx-post="{% url 'update_job' job.id %}" hx-trigger="change"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' >
                <input type="text" name="role" id="role" value="">
            </form>
            {{job.title}}
            {% endif %}
          </td>
          
          <td>${{ job.salary_min|floatformat:0|intcomma }}</td>
          <td>${{ job.salary_max|floatformat:0|intcomma }}</td>
          <td>{{ job.posted_date }}</td>
          <td>{{ job.created }}</td>
          <td>{% if job.link %}<a href="{{ job.link }}">Link</a>{% endif %}</td>
          <td>{% if job.link %}{{ job.link_status_code }}{% endif %}</td>
          <td>
            <a href="https://mail.google.com/mail/u/0/#search/{{ job.company.name }}" target="_blank" target="Searh Your Gmail for {{ job.company.name }}">

           
            <img src="{% static 'svg/search-mail.svg' %}" alt="email" width="20" height="20">
        </a>

            <a href="https://www.google.com/search?q={{ job }}" target="_blank"  target="Searh Google for {{ job }}">

           
            <img src="{% static 'svg/search-google.svg' %}" alt="email" width="20" height="20">
        </td>

      </tr>
      {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">previous</a>
      {% else %}
          <span class="disabled">&laquo; first</span>
          <span class="disabled">previous</span>
      {% endif %}

      {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
              <span class="current">{{ i }}</span>
          {% else %}
              <a href="?page={{ i }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">{{ i }}</a>
          {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">last &raquo;</a>
      {% else %}
          <span class="disabled">next</span>
          <span class="disabled">last &raquo;</span>
      {% endif %}
  </span>
</div>

</br>
</br>
</br>
</br>

{% endblock %}