<!-- templates/resume_clicks.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Resume Clicks for {{ company.name }}</h1>

    {% if resume_clicks %}
        <table>
            <thead>
                <tr>
                    <th>Profile</th>
                    <th>Email</th>
                    <th>Applications</th>
                    <th>IP Address</th>
                    <th>User Agent</th>
                    <th>Referer</th>
                    <th>Date Clicked</th>
                </tr>
            </thead>
            <tbody>
                {% for click in resume_clicks %}
                    <tr>
                        <td>{{ click.profile.user.username }}</td>
                        <td>{{ click.email }}</td>
                        <td>{{ click.applications }}</td>
                        <td>{{ click.ip_address }}</td>
                        <td>{{ click.user_agent }}</td>
                        <td>{{ click.referer }}</td>
                        <td>{{ click.created|date:"m/d/Y H:i" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No resume clicks recorded for this company.</p>
    {% endif %}
{% endblock %}