{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
<div class="main-content">
    <h2>Search Results for "{{ search_query }}"</h2>

<style>
    /* align to top all table datacells */
    table {
        border-collapse: collapse;
        align-items: top;
        
    }
    td {
        vertical-align: top;
    }

</style>
<table>
    <tr>
        <td valign="top"> <h3>Jobs</h3>
            <table>
            <tr><td>Role</td><td>Company</td></tr>
            {% for job in paginated_jobs %}
              <tr>
                <td><a href="{% url 'job_detail' slug=job.slug %}">{{ job.role|default:job.title }}</a></td>
                <td><a href="{% url 'company_detail' slug=job.company.slug %}">{{ job.company.name }}</a></td>
              </tr>

            {% endfor %}
            </table>
            
            <div class="pagination">
                <span class="step-links">
                    {% if paginated_jobs.has_previous %}
                        <a href="?search={{ search_query }}&jobs_page=1&companies_page={{ paginated_companies.number }}">&laquo; first</a>
                        <a href="?search={{ search_query }}&jobs_page={{ paginated_jobs.previous_page_number }}&companies_page={{ paginated_companies.number }}">previous</a>
                    {% endif %}
    
                    <span class="current-page">
                        Page {{ paginated_jobs.number }} of {{ paginated_jobs.paginator.num_pages }}.
                    </span>
    
                    {% if paginated_jobs.has_next %}
                        <a href="?search={{ search_query }}&jobs_page={{ paginated_jobs.next_page_number }}&companies_page={{ paginated_companies.number }}">next</a>
                        <a href="?search={{ search_query }}&jobs_page={{ paginated_jobs.paginator.num_pages }}&companies_page={{ paginated_companies.number }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div></td>
            <td valign="top"><h3>Companies</h3>
            {% for company in paginated_companies %}
            <a href="{% url 'company_detail' slug=company.slug %}">{{ company.name }}</a></br>
            {% endfor %}
    
            <div class="pagination">
                <span class="step-links">
                    {% if paginated_companies.has_previous %}
                        <a href="?search={{ search_query }}&companies_page=1&jobs_page={{ paginated_jobs.number }}">&laquo; first</a>
                        <a href="?search={{ search_query }}&companies_page={{ paginated_companies.previous_page_number }}&jobs_page={{ paginated_jobs.number }}">previous</a>
                    {% endif %}
    
                    <span class="current-page">
                        Page {{ paginated_companies.number }} of {{ paginated_companies.paginator.num_pages }}.
                    </span>
    
                    {% if paginated_companies.has_next %}
                        <a href="?search={{ search_query }}&companies_page={{ paginated_companies.next_page_number }}&jobs_page={{ paginated_jobs.number }}">next</a>
                        <a href="?search={{ search_query }}&companies_page={{ paginated_companies.paginator.num_pages }}&jobs_page={{ paginated_jobs.number }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div></td>
            <td valign="top"> <h3>Sources</h3>
            {% for source in sources %}
            {% if source.search_url %}
            <a href="{{ source.search_url|replace_search_term:search_query }}">{{ source.name }}  <i class="fas fa-external-link-alt" style="font-size:20px;"></i></a>
            {% endif %}
            {% endfor %}
        </td>
    </tr>

</table>
</div>



{% endblock %}
