{% load humanize %}
<div class="sidebar">
    <ul class="sidebar-links">
        <li><a href="/" class="{% if request.path == '/' %}active{% endif %}">🏠 Home</a></li>
        <li><a href="/dashboard" class="{% if request.path == '/dashboard' %}active{% endif %}">📊 Pipeline</a></li>
        <li><a href="" target="_blank">☕ Donate BCH</a></li>
        <li>
            <a href="/profiles" class="{% if request.path == '/profiles/' %}active{% endif %}">
                👥 Profiles
            </a>
        </li>
        <li>
            <a href="{% url 'company_list' %}" class="{% if request.path == '/companies' %}active{% endif %}">
                🏢 Companies
            </a>
        </li>
        <li>
            <a href="{% url 'model-counts' %}" class="{% if request.path == '/stats' %}active{% endif %}">
                📈 Stats
            </a>
        </li>
        <li>
            <a href="{% url 'source-list' %}" class="{% if request.path == '/sources/' %}active{% endif %}">
                📚 Sources <span class="badge">{{ sources|length }}</span>
            </a>
        </li>
        <li><a href="https://github.com/pingojo/website">🐙 Github</a></li>
        <li><a href="https://discord.gg/jQyDmZDREs" target="_blank">💬 Discord</a></li>
        <li><a href="https://x.com/pingojo" target="_blank">❌ X</a></li>
        <li>
            <a href="{% url 'privacy_policy' %}" class="{% if request.path == '/privacy' %}active{% endif %}">
                🕶️ Privacy
            </a>
        </li>
        <li>
            <a href="{% url 'terms_of_service' %}" class="{% if request.path == '/terms' %}active{% endif %}">
                📄 Terms
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <p>&copy; Pingojo</p>
        {% if sessions_count %}<p>Sessions: {{ sessions_count|intcomma }}</p>{% endif %}
        <p>v1.1.7</p>
        <p id="load-time"></p>
    </div>
</div>

<style>
    .sidebar {
        width: 150px; /* Reduced width for a more compact sidebar */
        position: fixed;
        top: 100;
        left: 0;
        height: 100%;
        padding-top: 10px;
    }
    .sidebar-links {
        list-style-type: none;
        padding: 0;
    }
    .sidebar-links li {
        margin: 7px 0; /* Reduced margin for compactness */
    }
    .sidebar-links li a {
        color: #333;
        text-decoration: none;
        font-size: 14px; /* Reduced font size for a more compact look */
        display: block;
        padding: 7px 15px; /* explain this padding: 8px 15px; it's the padding for the top and bottom of the link */

    .sidebar-links li a:hover {
        background-color: #ddd;
        border-radius: 5px;
    }
    .sidebar-links li a.active {
        background-color: #007BFF;
        color: #fff;
        border-radius: 5px;
    }
    .sidebar-footer {
        bottom: 20px;
        width: 100%;
        text-align: center;
    }
</style>
