{% load humanize %}
<div class="sidebar">
    <ul class="sidebar-links">
        <li>
            <a href="{% url 'jobs_list' %}" class="{% if request.path == '/jobs/' %}active{% endif %}">
                💼 Jobs
            </a>
        </li>
        <li><a href="/dashboard/?date={% now 'Y-m-d' %}" class="{% if request.path == '/dashboard/' %}active{% endif %}">📊 Pipeline</a></li>
        <li><a href="/donate" class="{% if request.path == '/donate/' %}active{% endif %}">☕ Donate</a></li>
        <li>
            <a href="/profiles" class="{% if request.path == '/profiles/' %}active{% endif %}">
                👥 Profiles
            </a>
        </li>
        <li>
            <a href="{% url 'company_list' %}" class="{% if request.path == '/company_list/' %}active{% endif %}">
                🏢 Companies
            </a>
        </li>

        <!-- pricing page -->
        <li>
            <a href="{% url 'pricing' %}" class="{% if request.path == '/pricing' %}active{% endif %}">
                💰 Pricing
            </a>
        <li>
            <a href="{% url 'model-counts' %}" class="{% if request.path == '/stats' %}active{% endif %}">
                📈 Stats
            </a>
        </li>
        <li>
            <a href="{% url 'source-list' %}" class="{% if request.path == '/sources/' %}active{% endif %}">
                📚 Sources <span class="badge">{{ sources|length }}</span>
            </a>
        </li>
    </ul>

    <div class="sidebar-footer">
<div style="justify-content: center; margin-bottom:10px;">
        <a href="https://chrome.google.com/webstore/detail/pingojo-extension/ihocmimgkfmbonmbdjbicbhlhffaheef" target="_blank" style="border: 1px solid #ccc; border-radius: 5px; padding: 5px; margin-right: 5px;display: inline-block; text-decoration: none; color: inherit;">
            <img src="https://www.google.com/s2/favicons?domain=chrome.com" style="vertical-align: middle; background-color:white; border-radius: 5px; margin-right: 5px; padding-bottom:2px;">Chrome Extension
          </a>
</div>

        <div style="display: flex; justify-content: center; align-items: center; gap: 10px; margin-bottom: 10px;">
            <a href="https://github.com/pingojo/website" target="_blank" title="GitHub" style="color: #333;">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://discord.gg/jQyDmZDREs" target="_blank" title="Discord" style="color: #333;">
                <i class="fab fa-discord"></i>
            </a>
            <a href="https://x.com/pingojo" target="_blank" title="X" style="color: #333;">
                <i class="fab fa-twitter"></i>
            </a>
        </div>

        &copy; Pingojo v1.1.7 {% if sessions_count %}({{ sessions_count|intcomma }}){% endif %}
        <p id="load-time"></p>

        <div>
            <a href="{% url 'privacy_policy' %}" class="{% if request.path == '/privacy' %}active{% endif %}">
                privacy</a>
            |
            <a href="{% url 'terms_of_service' %}" class="{% if request.path == '/terms' %}active{% endif %}">
                terms
            </a>
        </div>
    </div>
</div>

<style>
    .sidebar {
        width: 150px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sidebar-links {
        list-style-type: none;
        padding: 0;
        flex-grow: 1;
    }

    .sidebar-links li {
        margin: 7px 0;
    }

    .sidebar-links li a {
        color: #333;
        text-decoration: none;
        font-size: 14px;
        display: block;
        padding: 7px 15px;
    }

    .sidebar-links li a:hover {
        background-color: #ddd;
        border-radius: 5px;
    }

    .sidebar-links li a.active {
        background-color: #007BFF;
        color: #fff;
        border-radius: 5px;
    }

    .sidebar-footer {
        font-size: 12px;
        text-align: center;
        padding: 10px 0;
        white-space: nowrap;
    }

    .sidebar-footer p {
        margin: 0;
        padding: 0;
    }

    .sidebar-footer a {
        color: #333;
        text-decoration: none;
    }

    .sidebar-footer a:hover {
        color: #007BFF;
    }

    .sidebar-footer .fab {
        font-size: 18px;
    }
</style>

