{% load humanize %}
{% load static %}
<style>


    .skill-icon {
        width: 20px;
        /* Adjust size as needed */
        height: 20px;
        /* Adjust size as needed */
        margin-right: 5px;
    }
</style>
<div style="display: flex;
            justify-content: space-between;
            align-items: flex-start"
     id="job-posting">
    <!-- Main Job Description -->
    <div style="width: 700px;" id="job-description">
        {% if applications %}
            <h3>Applications (only visible to you)</h3>
            <table>
                <thead>
                    <tr align="left">
                        <th>Applied</th>
                        <th>Last Email</th>
                        <th>Days</th>
                        <th>Email</th>
                        <th>Stage</th>
                        <th>actions</th>
                        <th>link</th>
                        <th>ping</th>
                    </tr>
                </thead>
                {% for application in applications %}
                    <tr id="row-{{ application.id }}">
                        <td>{{ application.date_applied|date:"m/d" }}</td>
                        <td>{{ application.date_of_last_email|date:"m/d" }}</td>
                        <td>{{ application.days_since_last_email }}</td>
                        <td valign="top" align="right">
                            <a href='https://mail.google.com/mail/u/0/#search/"{{ application.company.name }}"'
                               target="_blank"
                               style="margin:0px;
                                      padding:0px">
                                <img src="{% static 'svg/search-mail.svg' %}"
                                     alt="email"
                                     width="20"
                                     height="20">
                            </a>
                            <div class="hover-box">
                                {% for email in application.email_set.all %}
                                    <a href="https://mail.google.com/mail/u/0/#inbox/{{ email }}"
                                       target="_blank"
                                       title="{{ email.date|date:'m/d/y' }}">{{ forloop.counter }}</a>
                                {% empty %}
                                    0
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <form method="POST"
                                  hx-post="{% url 'update-application-stage' %}"
                                  hx-trigger="change"
                                  hx-get="{% url 'update-application-stage' %}?application_id={{ application.id }}"
                                  hx-delete="#row-{{ application.id }}"
                                  class="stage-form">
                                {% csrf_token %}
                                <input type="hidden" name="application_id" value="{{ application.id }}">
                                <select name="stage_id"
                                        class="stage-dropdown stage-dropdown-{{ application.stage.name|lower }}">
                                    {% for stage in stages %}
                                        <option value="{{ stage.id }}"
                                                {% if stage.id == application.stage.id %}selected{% endif %}>
                                            {{ stage.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </td>
                        <td>
                            {% if application.job.slug %}
                                <a href="{% url 'job_detail' application.job.slug %}">
                                    <i class="fas fa-eye"></i>
                                </a>
                            {% endif %}
                            <a href="{% url 'job_application_delete' application.id %}"
                               hx-post="{% url 'job_application_delete' application.id %}"
                               hx-swap="none"
                               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                               hx-confirm="Are you sure you want to delete this application?">
                                <i class="fas fa-trash-alt"></i>
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'admin:website_application_change' application.id %}">edit</a>
                                {% endif %}
                            </a>
                        </td>
                        <td nowrap>{% include 'partials/link.html' %}</td>
                        {% if application.company.email and application.job.role %}
                            <td nowrap>{% include "partials/ping_link.html" %}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <h3>Job Description</h3>
        <p>{{ job.description_markdown|linebreaks }}</p>
    </div>
    {% if job.skills.all %}
        <div style="width: 250px;
                    background-color: #f9f9f9;
                    padding: 15px;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)"
             id="skills-section">
            <h4 style="margin-top: 0;">Skills:</h4>
            <div style="display: flex;
                        flex-direction: column;
                        gap: 10px"
                 id="skills-list">
                {% for skill in job.skills.all %}
                    <div style="display: flex; align-items: center;">
                        <a href="/?search={{ skill.name }}&search_type=skill"
                           style="text-decoration: none;
                                  color: #007bff">
                            <img src="https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/{{ skill.slug }}.png"
                                 alt="{{ skill.name }} Icon"
                                 class="skill-icon"
                                 onerror="this.onerror=null; this.src='/static/img/logo.png'">
                            <span>{{ skill.name }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
<!-- Hidden Div for Adding Skill -->
<div id="add-skill-div"
     style="display: none;
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)">
    <span id="selected-text"></span>
    <button id="add-skill-btn">Add Skill</button>
</div>
<script>
function handleIconError(img) {
    // Remove the image element
    img.style.display = 'none';

    // Add the gear emoji if it doesn't already exist
    if (!img.nextElementSibling || img.nextElementSibling.tagName !== 'SPAN' || img.nextElementSibling.textContent !== '⚙️') {
        const gearIcon = document.createElement('span');
        gearIcon.textContent = '⚙️';
        gearIcon.style.fontSize = '20px';  // Adjust size to match SVG
        gearIcon.style.marginRight = '5px'; // Adjust spacing if needed
        img.parentNode.insertBefore(gearIcon, img.nextSibling);
    }
}

document.addEventListener('mouseup', function(event) {
    const selectedText = window.getSelection().toString().trim();

    if (selectedText.length > 0) {
        const addSkillDiv = document.getElementById('add-skill-div');
        const selectedTextSpan = document.getElementById('selected-text');
        selectedTextSpan.textContent = `Add Skill "${selectedText}"`;

        // Position the div above the skills section
        const skillsSection = document.getElementById('skills-section');
        const rect = skillsSection.getBoundingClientRect();
        addSkillDiv.style.top = `${rect.top - addSkillDiv.offsetHeight - 10}px`;
        addSkillDiv.style.left = `${rect.left}px`;
        
        addSkillDiv.style.display = 'block';

        // Set up the button click event
        const addSkillBtn = document.getElementById('add-skill-btn');
        addSkillBtn.onclick = function() {
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '{% url "job_detail_htmx" job.slug %}', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    document.getElementById('job-posting').innerHTML = xhr.responseText;
                    addSkillDiv.style.display = 'none'; // Hide the div after adding the skill
                }
            };
            xhr.send(`skill=${encodeURIComponent(selectedText)}`);
        };
    } else {
        document.getElementById('add-skill-div').style.display = 'none';
    }
});

document.addEventListener('DOMContentLoaded', function() {
    // Scroll to top when the page loads
    window.scrollTo(0, 0);
});
</script>
