{% load custom_filters %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% url_modify request page=1 %}">&laquo; first</a>
            <a href="?{% url_modify request page=page_obj.previous_page_number %}">previous</a>
        {% endif %}
        
        {% with current=page_obj.number max_pages=page_obj.paginator.num_pages %}
            {% if current > 4 %}
                <a href="?{% url_modify request page=1 %}">1</a>
                <span class="ellipsis">...</span>
            {% endif %}
            
            {% for i in page_obj.paginator.page_range %}
                {% if current == i %}
                    <span class="current">{{ i }}</span>
                {% elif i >= current|add:"-3" and i <= current|add:"3" %}
                    <a href="?{% url_modify request page=i %}">{{ i }}</a>
                {% endif %}
            {% endfor %}
            
            {% if current < max_pages|add:"-3" %}
                <span class="ellipsis">...</span>
                <a href="?{% url_modify request page=max_pages %}">{{ max_pages }}</a>
            {% endif %}
        {% endwith %}

        {% if page_obj.has_next %}
            <a href="?{% url_modify request page=page_obj.next_page_number %}">next</a>
            <a href="?{% url_modify request page=max_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
